In [9]:
import pandas as pd
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim
import time

In [10]:
df=pd.read_csv(r"indian_students_abroad (1).csv",on_bad_lines='skip')
df.head()

      Country  No of Indian Students
0     Armenia                    900
1   Australia                  66886
2     Austria                    300
3  Azerbaijan                     11
4     Bahrain                  27000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                72 non-null     object
 1   No of Indian Students  72 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.3+ KB

In [12]:
df['Country'] = df['Country'].replace({
    'UK(2015-16)': 'United Kingdom',
    'US(2015-16)': 'United States of America',
    'Soth Africa':"South Africa"
})

In [13]:
geolocator = Nominatim(user_agent="geoapiExercises")
def add_loc(country):
    try:
        location_data = geolocator.geocode(country)
        if location_data:
            return location_data.latitude, location_data.longitude
        else:
            return None, None
    except Exception as e:
        print(f"Error retrieving location data for {country}: {e}")
        return None, None

latitude = []
longitude = []

for loc in df["Country"]:
    lat, long = add_loc(loc)
    latitude.append(lat)
    longitude.append(long)
    time.sleep(1)


df["Latitude"] = latitude
df["Longitude"] = longitude

df.head()

      Country  No of Indian Students   Latitude   Longitude
0     Armenia                    900   4.536307  -75.672375
1   Australia                  66886 -24.776109  134.755000
2     Austria                    300  47.593970   14.124560
3  Azerbaijan                     11  40.393629   47.787251
4     Bahrain                  27000  26.155125   50.534461

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                72 non-null     object
 1   No of Indian Students  72 non-null     int64
 2   Latitude               72 non-null     float64
 3   Longitude              72 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ KB

In [15]:
df.to_csv('C:\Kanishka\My Programs\Python\My project\indian_students_final.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\K'
<>:1: SyntaxWarning: invalid escape sequence '\K'
C:\Users\kanis\AppData\Local\Temp\ipykernel_25404\1335328526.py:1: SyntaxWarning: invalid escape sequence '\K'
  df.to_csv('C:\Kanishka\My Programs\Python\My project\indian_students_final.csv', index=False)